<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>controllers.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUser</servlet-name>
        <servlet-class>controllers.ShowUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showallPRD</servlet-name>
        <servlet-class>controllers.showallPRD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showPRD2</servlet-name>
        <servlet-class>controllers.showPRD2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPROD</servlet-name>
        <servlet-class>controllers.AddPROD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GETONEPROD</servlet-name>
        <servlet-class>controllers.GETONEPROD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>liginCL</servlet-name>
        <servlet-class>controllers.liginCL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPerfilImage</servlet-name>
        <servlet-class>controllers.GetPerfilImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>controllers.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>byCate</servlet-name>
        <servlet-class>controllers.byCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcarr</servlet-name>
        <servlet-class>controllers.addcarr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCar</servlet-name>
        <servlet-class>controllers.getCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModUser</servlet-name>
        <servlet-class>controllers.ModUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modCar</servlet-name>
        <servlet-class>controllers.modCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPeticion</servlet-name>
        <servlet-class>controllers.getPeticion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Venta</servlet-name>
        <servlet-class>controllers.Venta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logAdm</servlet-name>
        <servlet-class>controllers.logAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inix</servlet-name>
        <servlet-class>controllers.Inix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compra</servlet-name>
        <servlet-class>controllers.compra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>opinoin</servlet-name>
        <servlet-class>controllers.opinoin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUser</servlet-name>
        <url-pattern>/ShowUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showallPRD</servlet-name>
        <url-pattern>/showallPRD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showPRD2</servlet-name>
        <url-pattern>/showPRD2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPROD</servlet-name>
        <url-pattern>/AddPROD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GETONEPROD</servlet-name>
        <url-pattern>/GETONEPROD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>liginCL</servlet-name>
        <url-pattern>/liginCL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPerfilImage</servlet-name>
        <url-pattern>/GetPerfilImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>byCate</servlet-name>
        <url-pattern>/byCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcarr</servlet-name>
        <url-pattern>/addcarr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCar</servlet-name>
        <url-pattern>/getCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModUser</servlet-name>
        <url-pattern>/ModUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modCar</servlet-name>
        <url-pattern>/modCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPeticion</servlet-name>
        <url-pattern>/getPeticion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Venta</servlet-name>
        <url-pattern>/Venta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logAdm</servlet-name>
        <url-pattern>/logAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inix</servlet-name>
        <url-pattern>/Inix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compra</servlet-name>
        <url-pattern>/compra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>opinoin</servlet-name>
        <url-pattern>/opinoin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Inix</welcome-file>
    </welcome-file-list>
</web-app>
